services:
  - type: web
    name: my-laravel-app
    env: php
    plan: free
    # Root directory: leave empty (project root)
    buildCommand: |
      composer install --no-dev --optimize-autoloader
      npm install
      npm run build
    startCommand: php artisan serve --host 0.0.0.0 --port $PORT
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        value: base64:WwFzR3fumIDc7haWBhwHIT1DJpi1T77gIkY7CDhqSdA=
